<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                http://www.hazelcast.com/schema/spring
                http://www.hazelcast.com/schema/spring/hazelcast-spring.xsd
                http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<hz:hazelcast id="instance">
		<hz:config>
			<hz:group name="dev" password="password" />
			<hz:properties>
				<hz:property name="hazelcast.logging.type">slf4j</hz:property>
				<hz:property name="hazelcast.query.result.size.limit">10000</hz:property>
				<hz:property name="hazelcast.cache.invalidation.batch.enabled">true</hz:property>
				<hz:property name="hazelcast.cache.invalidation.batch.size">100</hz:property>
				<hz:property name="hazelcast.event.thread.count">10</hz:property>
				<hz:property name="hazelcast.io.thread.count">10</hz:property>
				<hz:property name="hazelcast.query.predicate.parallel.evaluation">true</hz:property>
			</hz:properties>
			<hz:network port="5701" port-auto-increment="true">
				<hz:join>
					<hz:multicast enabled="false" />
					<hz:tcp-ip enabled="true">
						<hz:members>127.0.0.1, 127.0.0.2</hz:members>
					</hz:tcp-ip>
				</hz:join>
			</hz:network>
			<hz:executor-service name="taskExecutor" pool-size="100" queue-capacity="200" />
			<hz:executor-service name="hz:query" pool-size="100" />
			<hz:map name="hzMap" backup-count="2" max-size="1000" max-idle-seconds="300" read-backup-data="true" 
				eviction-policy="LRU" 
				merge-policy="com.hazelcast.map.merge.PassThroughMergePolicy" >
				<hz:map-store enabled="true" class-name="org.shop.hz.mapStore.HzMapStore" write-delay-seconds="60"/>
				<hz:near-cache in-memory-format="OBJECT" max-size="10000" time-to-live-seconds="1000" max-idle-seconds="300" eviction-policy="LRU" invalidate-on-change="true" 
					cache-local-entries="true"/>
				<hz:indexes>
					<hz:index attribute="userAtt[id]" ordered="true"/>
				</hz:indexes>
				<hz:attributes>
					<hz:attribute name="userAtt" extractor="org.shop.hz.extractor.UserValueExtractor" />
				</hz:attributes>
			</hz:map>
		</hz:config>
	</hz:hazelcast>

	<cache:annotation-driven cache-manager="cacheManager" />
	<bean id="cacheManager" class="com.hazelcast.spring.cache.HazelcastCacheManager">
		<constructor-arg ref="instance" />
	</bean>

</beans>