<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
	<div id="login">
		<form @submit.prevent="onSubmit">
			<input v-model="user.name" placeholder="edit name"> 
			<input v-model="user.passwd" placeholder="edit password"> 
			<input type="submit" value="login">
		</form>
		<br>
		<span>msg:{{ message }}</span>
	</div>
	<script src="./static/js/vue.js"></script>
	<script src="./static/js/login/login.js"></script>
	<script src="./static/js/vue-resource.js"></script>
</body>
</html>