<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<link rel="stylesheet" href="./static/mint-ui/style.css">
</head>
<body>
	<div id="login">
		<mt-header fixed title="登录首页"></mt-header>
		<br>
		<form @submit.prevent="onSubmit">
			<mt-field label="用户名" placeholder="请输入用户名" v-model="user.name"></mt-field>
			<mt-field label="密码" placeholder="请输入密码" type="password"
				v-model="user.passwd"></mt-field>
			<mt-button type="primary" size="large">login</mt-button> <!-- @click.native="onSubmit" -->
		</form>
		<br>
	</div>
	<div>
	<form name="Form2" action="upload" method="post"  enctype="multipart/form-data">
		<h1>上传批量注册文件</h1>
		<input type="file" name="file">
		<input type="submit" value="upload"/>
	</form>
	</div>
	<script src="./static/js/vue.js"></script>
	<script src="./static/js/vue-resource.js"></script>
	<script src="./static/mint-ui/index.js"></script>
	<script src="./static/js/login/login.js"></script>
</body>
</html>